*{padding: 0;
    margin: 0;}

#galeria .col-lg-4{
    padding: 25px;
}

#galeria img{
        width: 100%; height: 290px; opacity: 30%; transition: 1s;
    }

    #galeria img:hover{ 
        opacity: 100%; 
        width: 110%;
        height: 300px;

    } 